.sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--primary-color);
  padding: 0px 30px;
  transition: transform 0.3s ease;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.logo h2 {
  font-size: large;
  display: flex;
  margin: 10px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--heading-color);
}

.logo .image-logo {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 50%;
  overflow: hidden; 
}

.logo .image-logo img {
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}

.sidebar__top h2 span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  border-radius: 50%;
}

.sidebar__top h2 i {
  font-weight: 400 !important;
  padding: 5px;
  font-size: 1.2rem;
}

.sidebar__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 5%);
  margin-top: 30px;
}

.menu {
  height: 80%;
}

.sidebar__bottom {
  height: 20%;
}

.nav__link,
.sidebar__bottom span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar__bottom span.logout {
  color: var(--small-text-color);
  cursor: pointer;
}

.nav__list {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  color: var(--small-text-color);
}

.nav__link i {
  color: var(--secondary-color);
}

.nav__active {
  color: white;
  background: #b7ffe913;
  padding: 6px;
  border-radius: 5px;
}

.toggle-button {
  position: absolute;
  top: 50%;
  left: 85%;
  border-radius: 20px;
  transform: translateY(-50%);
  background: var(--primary-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.3s ease;
}

.toggle-button img {
  width: 40px;
  height: 40px;
}

.sidebar.closed .toggle-button {
  left: 100%;
  transform: translate(-10%, -50%);
  
}
